@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_layoutKhach.cshtml";
}
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<SanPham>

<img src="../LayoutKhach/img/anhBiaChinh.jpg" alt="quãng cáo" class="img-fluid">
<h3 class=" text-center " style="background-color: #EDF2F4;">
    Sản phẩm hỗi trợ
</h3>
</br>


<div class="container mt-4">
    <div class="row row-cols-ms-3 g-4">
        @foreach(var item in Model)
        {
            
            <div class="col">
                <div class="card" style="width: 18rem; background-color: #EDF2F4;">
                    <img src=@Url.Content("../img/San_pham/"+item.AnhSanPham) alt="gói tuần" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-text">@item.TenSanPham</h5>
                        <p class="card-text">
                            @item.ThongTinChiTiet
                        </p>

                        <p class="card-text">
                            @item.Gia đ
                        </p>

                        <a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@item.IdSanPham" class="btn btn-danger"> Thêm vào giỏ</a>
                        <a asp-controller="Home" asp-action="ChiTietSanPham"
                           asp-route-maSp="@item.IdSanPham" class="btn btn-danger"> Xem chi tiết</a>

                    </div>

                </div>
            </div>
    
        }
        <div class="product__pagination">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
        </div>
      
               
     
    </div>
</div>
